<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Input Form</title>
</head>

<body>
    <h1>Enter Data for Prediction</h1>
    <form action="/predict" method="POST">
        <label for="14_NH4">Feature 14 NH4:</label>
        <input type="number" id="14_NH4" name="14_NH4" required><br><br>

        <label for="14_NO2">Feature 14 NO2:</label>
        <input type="number" id="14_NO2" name="14_NO2" required><br><br>

        <label for="14_NO3">Feature 14 NO3:</label>
        <input type="number" id="14_NO3" name="14_NO3" required><br><br>

        <label for="15_NH4">Feature 15 NH4:</label>
        <input type="number" id="15_NH4" name="15_NH4" required><br><br>

        <label for="15_NO2">Feature 15 NO2:</label>
        <input type="number" id="15_NO2" name="15_NO2" required><br><br>

        <label for="15_NO3">Feature 15 NO3:</label>
        <input type="number" id="15_NO3" name="15_NO3" required><br><br>

        <label for="16_NH4">Feature 16 NH4:</label>
        <input type="number" id="16_NH4" name="16_NH4" required><br><br>

        <label for="16_NO2">Feature 16 NO2:</label>
        <input type="number" id="16_NO2" name="16_NO2" required><br><br>

        <input type="submit" value="Predict">
    </form>
</body>

</html>